
<app-header></app-header>
<div class="container">

  <label>Required</label><span style="color:#ff0000">*</span><br>
  <label >1.Name of participant</label><span style="color:#ff0000">*</span><br>
  <input  class="text" type="text" placeholder="Enter your answer" required style="width: 100%; height: 41px; "><br> <br>
  <label >2.Participated for?</label><span style="color:#ff0000">*</span><br>
  <input type="checkbox" >&nbsp;&nbsp;SIEO <br>
  <input type="checkbox" >&nbsp;&nbsp;SIMO <br>
  <input type="checkbox" >&nbsp;&nbsp;SISO <br>
  <input type="checkbox">&nbsp;&nbsp;Grads Olympiad <br>
  <input type="checkbox">&nbsp;&nbsp;Finance Olympiad <br>
  <br>
  <label>3.How was the quality of the questions asked?</label><span style="color:#ff0000">*</span><br>
  <br>
  <div class="rating">
    <input type="radio" name="star" id="star1"><label for="star1"></label>
    <input type="radio" name="star" id="star2"><label for="star2"></label>
    <input type="radio" name="star" id="star3"><label for="star3"></label>
    <input type="radio" name="star" id="star4"><label for="star4"></label>
    <input type="radio" name="star" id="star5"><label for="star5"></label>
    <!-- <input type="radio" name="star" id="star6"><label for="star6"></label>
    <input type="radio" name="star" id="star7"><label for="star7"></label>
    <input type="radio" name="star" id="star8"><label for="star8"></label>
    <input type="radio" name="star" id="star9"><label for="star9"></label>
    <input type="radio" name="star" id="star10"><label for="star10"></label> -->
    
    </div> <br><br>
 
  <label>4.How was the ease of giving the Olympiad?</label><span style="color:#ff0000">*</span><br><br>
  <div class="rating">
    <input type="radio" name="star" id="star11"><label for="star11"></label>
    <input type="radio" name="star" id="star12"><label for="star12"></label>
    <input type="radio" name="star" id="star13"><label for="star13"></label>
    <input type="radio" name="star" id="star14"><label for="star14"></label>
    <input type="radio" name="star" id="star15"><label for="star15"></label>
    <!-- <input type="radio" name="star" id="star16"><label for="star16"></label>
    <input type="radio" name="star" id="star17"><label for="star17"></label>
    <input type="radio" name="star" id="star18"><label for="star18"></label>
    <input type="radio" name="star" id="star19"><label for="star19"></label>
    <input type="radio" name="star" id="star20"><label for="star20"></label> -->
    
    </div><br><br>

  <label>5.Did you like the process of report generation?</label><span style="color:#ff0000">*</span><br>
  <br>
  <div class="rating">
    <input type="radio" name="star" id="star31"><label for="star31"></label>
    <input type="radio" name="star" id="star32"><label for="star32"></label>
    <input type="radio" name="star" id="star33"><label for="star33"></label>
    <input type="radio" name="star" id="star34"><label for="star34"></label>
    <input type="radio" name="star" id="star35"><label for="star35"></label>
    <!-- <input type="radio" name="star" id="star36"><label for="star36"></label>
    <input type="radio" name="star" id="star37"><label for="star37"></label>
    <input type="radio" name="star" id="star38"><label for="star38"></label>
    <input type="radio" name="star" id="star39"><label for="star39"></label>
    <input type="radio" name="star" id="star40"><label for="star40"></label> -->
    
    </div><br><br>

  <label>6.How was the customer service, if you used any?</label><span style="color:#ff0000">*</span><br>
  <br>
  <div class="rating">
    <input type="radio" name="star" id="star51"><label for="star51"></label>
    <input type="radio" name="star" id="star52"><label for="star52"></label>
    <input type="radio" name="star" id="star53"><label for="star53"></label>
    <input type="radio" name="star" id="star54"><label for="star54"></label>
    <input type="radio" name="star" id="star55"><label for="star55"></label>
    <!-- <input type="radio" name="star" id="star56"><label for="star56"></label>
    <input type="radio" name="star" id="star57"><label for="star57"></label>
    <input type="radio" name="star" id="star58"><label for="star58"></label>
    <input type="radio" name="star" id="star59"><label for="star59"></label>
    <input type="radio" name="star" id="star60"><label for="star60"></label> -->
    </div><br><br>
  <label >7.Anything that we need to improve.</label><span style="color:#ff0000">*</span> <br>
  <input class="text" type="text" placeholder="Enter your answer"required style="width: 100%; height: 41px; "><br> <br>
  <label >8.What did you like the best about us?</label><span style="color:#ff0000">*</span><br>
   <input class="text" type="text" placeholder="Enter your answer"required style="width: 100%; height: 41px; " ><br> <br>

   <button style="background-color: rgb(23, 23, 82); color: white; width:122px; height:2.5rem;">Submit</button>
  <br><br>
  never give out your password <a href="https://">Report abuse</a>
</div>
<app-footer></app-footer>
 