.rating {

    position: absolute;
    /* top: 100%;
    left: 50%; */
    margin: auto;
    width: 50%;
   display: flex;
  /* transform: rotate(90deg); */
    transform: translate(-50%, -50%) rotateY(180deg);
}

.rating label {
    display: block;
    cursor: pointer;
    width: 50px;

}

.rating input {
    display: none;
}

.rating label:before {
    content: '\f005';
    font-family: fontAwesome;
    position: relative;
    display: block;
    font-size: 30px;
    /* border: 2px solid black; */
    color: rgb(92, 94, 97);
}

.rating label:after {
    content: '\f005';
    border: 2px;
    font-family: fontAwesome;
    position: absolute;
    display: block;
    font-size: 30px;
    color: aqua;
    top: 0;
    /* bottom: 0; */
    opacity: 0;
    transition: .5s;
    text-shadow: 0 2px 5px rgb(0, 0, 0 ,.5);
}

.rating label:hover:after,.rating input:checked~label:after
 {
    opacity: 1;
}
